FEEDBACK_EMAIL=josephinemah0419@gmail.com
NEXT_PUBLIC_GOOGLE_REVIEW_URL="https://www.google.com/search?sca_esv=3ca1fbc8451fdfd6&rlz=1C1VDKB_enMY1065MY1065&sxsrf=APpeQnvwqSYYlHmS5jxV1eBPz-bnHenCew:1790144114831&q=bibichik+ss2&si=APenkKn5T4YN59srr511wD6k6Pufj9DEzRUvB1XJSwUeeT5afiYm1dqvDDoNOdgDswDHrM7TNw4HPQX-xk9f3KidxP0hgm0RfPPVVUJz5pUcIt7UGATtL4_o1Bh7kGOBCaS8WsUQ3diH&sa=X&sqi=2&ved=2ahUKEwjZrr7AhoSXAxW5bmwGHcH0AAQQrrQLegQILRAA&biw=1536&bih=695&dpr=1.25"
NEXT_PUBLIC_WEBSITE_URL=
SITE_URL=http://localhost:3000



