FEEDBACK_EMAIL=josephinemah0419@gmail.com
NEXT_PUBLIC_GOOGLE_REVIEW_URL="https://www.google.com/search?kgmid=/g/1th7kdpd&q=BiBiChik+SS2#lrd=0x31cc4955f9b96915:0xa578d5ae333aed5d,3,,,,"
NEXT_PUBLIC_WEBSITE_URL=
SITE_URL=http://localhost:3000




